<form method="post" action="http://forms.brace.io/jennifer.hail08@gmail.com" id="contact-form">

	<input type="text" name="Name" id="Name" placeholder="Name" value="" />

	<input type="text" name="_replyto" id="Email" placeholder="Email" value="" />

	<textarea  name="Message" id="Message" value="" placeholder="Message"></textarea>

	<input type="submit" name="submit" value="Send" id="Submit" class="submit-button" />

	<input type="hidden" name="_subject" value="New submission!" />

	<input type="hidden" name="_next" value="//jenniferhail.com/thank-you" />

</form>	